<div class="container">
    <mat-toolbar>
        <span>Reservar sala {{room.name}}</span>
    </mat-toolbar>

    <!-- RECURSIVE RESERVATION -->
    <mat-card class="mycard">
        <mat-card-header>
            <img mat-card-avatar src = "../../../../assets/img/person-male.png">
            <mat-card-title>Reserva recursiva</mat-card-title>
            <mat-card-subtitle>Reservar todas las semanas a la misma hora</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup] = "form" class="example-form" (ngSubmit)="newReservation()">
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <input matInput placeholder="Descripción" formControlName = "description">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Fecha de comienzo</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  
                  <br>
                  <br>
                  <mat-form-field appearance="fill">
                    <mat-label>Fecha de fin</mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>

                  <br>
                  <br>
                  
                  <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Hora de entrada</mat-label>
                    <mat-select>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Hora de salida</mat-label>
                    <mat-select>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Sitio</mat-label>
                    <input matInput placeholder="Sitio" formControlName = "place">
                </mat-form-field>
                <br>              
                  <div class="example-button-row">
                    <button type="submit" mat-raised-button color="primary" style="margin: 10px;" [disabled]="!form.valid">Reservar</button>
                  </div>
          </form>   
        </mat-card-content>
        <mat-card-footer>
            <button mat-button color="primary">Reservar sala</button>
        </mat-card-footer>
    </mat-card>
    <button type="cancel" mat-raised-button color="warn" style="margin: 10px;" [routerLink]="['/dashboard/room/' + room.id]">Cancel</button>

    </div>