<div class="body regist">
    <form [formGroup] = "form" class="example-form" (ngSubmit)="doRegister()">
            <h1>Crear nueva cuenta</h1>
            <mat-form-field class="ancho regist" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Name" formControlName = "name">
              </mat-form-field>
              <mat-form-field class="example-full-width regist" appearance="fill">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Surname" formControlName = "surname">
              </mat-form-field>
              <mat-form-field class="example-full-width regist" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName = "email">
              </mat-form-field>
              <mat-form-field class="example-full-width regist" appearance="fill">
                <mat-label>Nº de teléfono</mat-label>
                <input matInput placeholder="Phone number" formControlName = "phone">
              </mat-form-field>
              <mat-form-field class="example-full-width regist" appearance="fill">
                <mat-label>Nombre de usuario</mat-label>
                <input matInput placeholder="Username" formControlName = "username">
              </mat-form-field>
              <mat-form-field class="example-full-width regist" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Password">
              </mat-form-field>
              <mat-form-field class="example-full-width regist" appearance="fill">
                <mat-label>Confirmar contraseña</mat-label>
                <input type="password" matInput placeholder="Password" formControlName = "password">
              </mat-form-field>
              <mat-form-field class="example-full-width regist" appearance="fill">
                <mat-label>Campo de especialización</mat-label>
                <input matInput placeholder="Job title" formControlName = "jobTitle">
              </mat-form-field>
              <mat-form-field class="example-full-width regist" appearance="fill">
                <mat-label>Descripción</mat-label>
                <input matInput placeholder="Description" formControlName = "description">
              </mat-form-field>
              <!-- REVISAR COMO PONER CHECKBOX EN ESTOS CAMPOS -->
              <mat-form-field appearance="fill" class = "regist">
                <mat-label>Publicable</mat-label>
                <mat-select formControlName = "publicable">
                  <mat-option value="true">Cuenta pública</mat-option>
                  <mat-option value="false">Cuenta privada</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" class = "regist">
                <mat-label>¿Buscas trabajo?</mat-label>
                <mat-select formControlName = "openToWork">
                  <mat-option value="true">Si!</mat-option>
                  <mat-option value="false">No estoy interesado</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="example-button-row">
                <button type="submit" mat-raised-button color="primary" style="margin: 10px;" [disabled]="!form.valid" [mat-dialog-close]>Create</button>
                <button mat-raised-button color="warn" style="margin: 10px;" routerLink="/login" [mat-dialog-close]>Back</button>
              </div>
      </form>

</div>