<mat-toolbar color="primary">
    <span>COWORKING VALENCIA</span>
    <span class="example-spacer"></span>
    <button mat-button *ngFor="let item of menus" [routerLink]="item.redirect">{{item.nombre}}</button>
    <span class="example-spacer"></span>
    <button mat-button>Hola, {{logUser}}</button>
    <button mat-icon-button *ngIf="!isLogged" routerLink="/login" class="example-icon account_circle" aria-label="Example account_circle login">
        Login
        <mat-icon style="padding-right: 5px;">login</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isLogged"><mat-icon>account_circle</mat-icon></button>
        <mat-menu #menu="matMenu" >
            <button mat-menu-item [routerLink]="['/dashboard/user/' + currentUser.id]">Mi cuenta</button>
            <button mat-menu-item>Editar mi perfil</button>
            <button mat-menu-item>Ver lista de empresas</button>
            <button mat-menu-item>Reportar a bug</button>
            <button mat-menu-item [routerLink]="['/dashboard/user/myReservations/' + currentUser.id]">Mis reservas</button>
            <button mat-menu-item (click)="logout()" routerLink="/login">Cerrar sesión</button>
        </mat-menu>
</mat-toolbar>