<div class="container backgrounded">
    <mat-toolbar>
        <span>Tus reservas</span>
    </mat-toolbar>


    <div class="card" style="width: 90%; margin: auto;">

        <mat-grid-list cols="4" rowHeight="400px">
            <mat-grid-tile
                *ngFor="let reservation of myReservations"
                [colspan]="1"
                [rowspan]="1">
                <mat-card class="mycard">
                    <mat-card-header>
                        <img mat-card-avatar src = {{reservation.room.coverImage}}>
                        <mat-card-title>{{reservation.description}}</mat-card-title>
                        <mat-card-subtitle>{{reservation.date}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Tienes una reserva desde las {{reservation.start}} hasta las {{reservation.end}} en {{reservation.room.name}}</p>
                    </mat-card-content>
                    <mat-card-footer>
                        <button mat-button color="primary" (click)="openDialog(reservation)">Cancelar reserva</button>
                    </mat-card-footer>
                </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
</div>

