<div class="container">
    <mat-card class="mycard">
        <mat-card-header>
            <img mat-card-avatar src = "../../../../assets/img/person-male.png">
            <mat-card-title>{{usuario.name}} {{usuario.surname}}</mat-card-title>
            <mat-card-subtitle>{{usuario.username}} - {{usuario.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{usuario.jobTitle}}</p>
            <p>{{usuario.description}}</p>
        </mat-card-content>
        <mat-card-footer>
            <button mat-button color="primary">Editar perfil</button>
            <button mat-button color="primary">Crear empresa</button>
            <button mat-button color="primary">Asociar empresa</button>
            <button mat-button color="primary">Mi empresa</button>
        </mat-card-footer>
    </mat-card>
</div>