<div class="container backgrounded">
    <mat-toolbar>
        <span>Inicio</span>
    </mat-toolbar>

    <mat-grid-list cols="4" rowHeight="1:0.5">
        <mat-grid-tile
            [colspan]="2"
            [rowspan]="1">
            <mat-card>Simple card</mat-card>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="2"
            [rowspan]="2">
            <mat-card class="example-card" style="background-color: #FFDA91;">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title><h1>HAZTE SOCIO YA!!</h1></mat-card-title>
                  <mat-card-subtitle>Por solo 4.99€ al mes</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Nuestro programa de socio cuenta con las siguientes ventajas:
                    <br>
                    1 - Descuento del 40% en todas las reservas que realices, independientemente del tipo de reserva y del tipo de sala.
                    <br>
                    2 - Suscripción y asistencia a eventos...
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn">QUIERO HACERME SOCIO</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
