<div class="container backgrounded">
    <mat-toolbar>
        <span>Inicio</span>
    </mat-toolbar>

    <mat-grid-list cols="4" rowHeight="1:0.5">
      <mat-grid-tile
      [colspan]="2"
      [rowspan]="2"
      *ngIf="!isLogged">
      <mat-card class="example-card" style="background-color: #FFDA91;">
          <mat-card-header>
            <img mat-card-avatar src = "../../../../assets/img/sala-ejemplo.jpg">
            <mat-card-title><h1>RESERVA NUESTRAS SALAS YA</h1></mat-card-title>
            <mat-card-subtitle>Hazlo todo online</mat-card-subtitle>
          </mat-card-header>
          
          <mat-card-content>
            <p>
              Nuestra funcionalidad de reservar sala es completamente online.
              <br>
              No hace falta que te pongas en contacto con nosotros, puedes reservar directamente.
              <br>
              En el apartado de nuestras salas, podrás echar un vistazo a nuestras salas. Si lo deseas, puedes pedir una visita presencial antes de reservar una sala.
              <br>
              Puedes crearte una cuenta para pedir una cita presencial.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="/dashboard/salas">ECHAR UN VISTAZO A LAS SALAS</button>
          </mat-card-actions>
        </mat-card>
  </mat-grid-tile>

  <mat-grid-tile
      [colspan]="2"
      [rowspan]="2"
      *ngIf="isLogged">
      <mat-card class="example-card" style="background-color: #FFDA91;">
          <mat-card-header>
            <img mat-card-avatar src = "../../../../assets/img/sala-ejemplo.jpg">
            <mat-card-title><h1>RESERVA TU SALA</h1></mat-card-title>
            <mat-card-subtitle>Hazlo todo online</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Nuestra funcionalidad de reservar sala es completamente online.
              <br>
              No hace falta que te pongas en contacto con nosotros, puedes reservar directamente.
              <br>
              En el apartado de nuestras salas, podrás echar un vistazo a nuestras salas. Si lo deseas, puedes pedir una visita presencial antes de reservar una sala.
            </p>
          </mat-card-content>
          <mat-card-actions>
              <button mat-raised-button color="primary" routerLink="/dashboard/salas">RESERVA TU SALA YA</button>
              <button mat-raised-button color="primary" (click)="newAppointment()">PEDIR CITA PRESENCIAL</button>
          </mat-card-actions>
        </mat-card>
  </mat-grid-tile>
        <!-- SI NO ESTÁ CON LA SESIÓN INICIADA, QUE LE SALGA PARA CREARSE UNA CUENTA-->
        <mat-grid-tile
            [colspan]="2"
            [rowspan]="2"
            *ngIf="!isLogged">
            <mat-card class="example-card" style="background-color: #FFDA91;">
                <mat-card-header>
                  <img mat-card-avatar src = "../../../../assets/img/hazte-socio.png">
                  <mat-card-title><h1>¡¡CREAR CUENTA!!</h1></mat-card-title>
                  <mat-card-subtitle>Crear cuenta es gratuito.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Si te creas una cuenta, tendrás acceso a:
                    <br>
                    1 - Acceso a los horarios de las salas, y a poder reservar estas de forma online, sin necesidad de que nadie gestione tus reservas.
                    <br>
                    2 - Puedes hacer reservas diarias, reservas semanales e incluso reservas para varios días consecutivos. Puedes reservar hasta para dentro de 15 minutos... ¡siempre y cuando haya hueco libre!
                    <br>
                    3 - Puedes poner tu cuenta en modo público, de tal manera aparecerá en el apartado de "Nuestros coworkers" ¡y será accesible para todo aquél que entre en la página web!
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn" (click)="openRegister()">CREAR CUENTA</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>


        <!-- SI ESTÁ CON LA SESIÓN INICIADA Y NO ES SOCIO, QUE LE SALGA PARA HACERSE SOCIO -->
        <mat-grid-tile
            [colspan]="2"
            [rowspan]="2"
            *ngIf="isLogged">
            <mat-card class="example-card" style="background-color: #FFDA91;">
                <mat-card-header>
                  <img mat-card-avatar src = "../../../../assets/img/hazte-socio.png">
                  <mat-card-title><h1>HAZTE SOCIO YA!!</h1></mat-card-title>
                  <mat-card-subtitle>Por solo 4.99€ al mes</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Nuestro programa de socio cuenta con las siguientes ventajas:
                    <br>
                    1 - Descuento del 40% en todas las reservas que realices, independientemente del tipo de reserva y del tipo de sala.
                    <br>
                    2 - Suscripción y asistencia a eventos...
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn" (click)="newPartnership()">QUIERO HACERME SOCIO</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="2">
          <mat-card class="example-card" style="background-color: #FFDA91;">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title><h1>Nuestras tarifas:</h1></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div style="height: 320px;">
              <img src="../../../../assets/img/Tarifas.PNG">
            </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    </mat-grid-list>
</div>
