<div class = body>
    <div class = login>
        <!-- FORMULARIO -->
        <form [formGroup] = "form" (ngSubmit)="doLogin()">
            <img src="./assets/img/user.png" width="50%">
            <h1>Login</h1>
            <mat-form-field class = "ancho" appearance="fill">
                <mat-label>User</mat-label>
                <input matInput type="text" autocomplete="off" formControlName = "user">
            </mat-form-field>
            <mat-form-field class = "ancho" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput autocomplete="off" formControlName = "password">
            </mat-form-field>
            <br>
            <button type="submit" class = "ancho button" mat-raised-button color="primary" [disabled]="form.invalid" >Login</button>
            <br>
            <button type="submit" class = "anchoaux button" mat-raised-button color="primary" routerLink="/register">Create account</button>
            <button type="submit" class = "anchoaux button" mat-raised-button color="primary" routerLink="/dashboard">Dashboard</button>
        </form>
    </div>
</div>