<mat-card class="example-card">
    <mat-card-title>Realizar el pago con tarjeta:</mat-card-title>
    <mat-card-content>
        <p>Precio total: {{reservationPayment.totalAmount}} €</p>
        <p>Descuento: {{reservationPayment.discount}} %</p>
        <p>Precio a pagar: {{reservationPayment.finalAmount}} €</p>
        <p>Total de horas: {{reservationPayment.totalTime}}</p>
    </mat-card-content>
    <div>
        <form novalidate (ngSubmit)="buy()" [formGroup]="stripeForm">
            <input type="text" formControlName="name" placeholder="tu nombre">
            <br>
            <div id="card-element" class="field"></div>
            <div *ngIf="error">
                {{error}}
            </div>
                <button mat-button color="primary" (click)="paid()" type="submit">
                    Pagar online
                </button>
                <button mat-button color="primary" (click)="payInPlace()" [mat-dialog-close]>
                    Pagar en puerta
                </button>
                <button mat-button color="primary" (click)="deleteReservations" [mat-dialog-close]>
                    Cancelar operación
                </button>
        </form>
    </div>
</mat-card>