<mat-card class="example-card">
    <mat-card-title>Deseas confirmar el pago para {{reservationPayment.id}}</mat-card-title>
    <mat-card-subtitle>Datos del pago:
        <p>Descripción: {{reservationPayment.description}}</p>
        <p>Tiempo total (en horas): {{reservationPayment.totalTime}}</p>
        <p>Sitio: {{reservationPayment.place}}</p>
        <p>Precio: {{reservationPayment.amount}}</p>
        <p>Realizada por {{reservationPayment.user.username}} en {{reservationPayment.room.name}}</p>
    </mat-card-subtitle>
    <mat-card-actions>
        <button mat-button>Pagar Reserva</button>
        <button mat-button>Pagar en la entrada</button>
        <button mat-button>Cancelar reserva</button>
    </mat-card-actions>
</mat-card>