<div class="body regist">
    <form [formGroup] = "form" class="example-form" (ngSubmit)="newCompany()">
            <h1>Crear nueva Empresa</h1>
            <mat-form-field class="ancho regist" appearance="fill">
                <mat-label>Nombre de la Empresa</mat-label>
                <input matInput placeholder="Name" formControlName = "name">
              </mat-form-field>
              <mat-form-field class="example-full-width regist" appearance="fill">
                <mat-label>Sector</mat-label>
                <input matInput placeholder="Sector" formControlName = "field">
              </mat-form-field>
              <mat-form-field class="example-full-width regist" appearance="fill">
                <mat-label>Logotipo enlace web</mat-label>
                <input matInput placeholder="Logotipo" formControlName = "logo">
              </mat-form-field>
              <mat-checkbox formControlName="hiring" style="padding: 10px;" color= "warn">¿Buscas nuevos empleados?</mat-checkbox>


              <div class="example-button-row">
                <button type="submit" mat-raised-button color="primary" style="margin: 10px;" [disabled]="!form.valid" [mat-dialog-close]>Crear</button>
                <button mat-raised-button color="warn" style="margin: 10px;" routerLink="/login" [mat-dialog-close]>Atrás</button>
              </div>
      </form>

</div>