<div class="container">
    <mat-toolbar>
        <span>Nuestros coworkers</span>
    </mat-toolbar>
      <table class="mat-elevation-z2">
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Description</th>
            <th>Email</th>
        </tr>
        <tbody>
            <tr *ngFor="let usuario of usuarios" style="text-align: center;">
                <td>{{usuario.username}}</td>
                <td>{{usuario.name}}</td>
                <td>{{usuario.surname}}</td>
                <td>{{usuario.description}}</td>
                <td>{{usuario.email}}</td>
            </tr>
        </tbody>

    </table>

    <!-- VAMOS A DEJARLO EN UNA GRID DONDE CADA CASILLA ES UN USUARIO -->
    <mat-grid-list cols="5" rowHeight="2:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
</div>
